a{
    display: inline-block;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
    width: 150px;
    height: 100px;
}
Footer
© 2023 GitHub, Inc.
Footer navigation
Terms
Privacy
Security
Sta